*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, from(#4709FE), to(#2D7FEC));
    background: -webkit-linear-gradient(bottom, #4709FE, #2D7FEC);
    background: -o-linear-gradient(bottom, #4709FE, #2D7FEC);
    background: linear-gradient(to top, #4709FE, #2D7FEC);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 20px;

    font-family: 'Poppins', sans-serif;
    font-weight: 400; 

    display: -webkit-box; 

    display: -ms-flexbox; 

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* BOX */
#box {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .16);
            box-shadow: 0 0 6px rgba(0, 0, 0, .16);
    padding: 20px;
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    z-index: 1;
}

/* LOGO */
.logo {
    text-align: center;
    -webkit-animation: logo .3s ease-in-out;
            animation: logo .3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}

/* LINKS */
.links {
    padding: 0 20px;
    z-index: 3;
}

.links ul {
    list-style: none;
}

.links ul li {
    width: 100%;
    height: 55px;
    background-color: rgba(255, 255, 255, .7);
    opacity: 1;
    border-radius: 10011985px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
            box-shadow: 0 0 10px rgba(0, 0, 0, .05);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.links ul li:not(:last-child) {
    margin-bottom: 20px;
}

.links ul li a {
    text-decoration: none;
    color: #2D7FEC;
    letter-spacing: .5px;
    font-size: 15px;

}

/* SOCIAL */
.social {
    padding: 0 20px;
    opacity: 0;
    -webkit-animation: social .3s ease-in-out 0.9s;
            animation: social .3s ease-in-out 0.9s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: 4;
}

.social ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


/* ABSTRACT BG */
.abstract-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/* ANIMATIONS */
.links ul li:nth-of-type(1) {
    opacity: 0;
    -webkit-animation: link-1 .3s ease-in-out .2s;
            animation: link-1 .3s ease-in-out .2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}

.links ul li:nth-of-type(2) {
    opacity: 0;
    -webkit-animation: link-1 .3s ease-in-out .3s;
            animation: link-1 .3s ease-in-out .3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}

.links ul li:nth-of-type(3) {
    opacity: 0;
    -webkit-animation: link-1 .3s ease-in-out .4s;
            animation: link-1 .3s ease-in-out .4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}

.links ul li:nth-of-type(4) {
    opacity: 0;
    -webkit-animation: link-1 .3s ease-in-out .5s;
            animation: link-1 .3s ease-in-out .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}

.links ul li:nth-of-type(5) {
    opacity: 0;
    -webkit-animation: link-1 .3s ease-in-out .6s;
            animation: link-1 .3s ease-in-out .6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: scale(.4);
                transform: scale(.4);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes logo {
    0% {
        -webkit-transform: scale(.4);
                transform: scale(.4);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes link-1 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes link-1 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes link-2 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes link-2 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes link-3 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes link-3 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes link-4 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes link-4 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes link-5 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes link-5 {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes social {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes social {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

/* RESPONSIVE */
@media (min-width: 415px) {
    #box {
        width: 375px;
        height: 667px;
    }
}

@media (max-width: 320px) {
    .logo img {
        width: 40%;
        height: auto;
    }
    .links ul li {
        height: 45px;
    }
    .links ul li a {
        font-size: 12px;
    }
    .social ul li a img {
        width: 40px;
        height: auto;
    }
}